/* :root { */
/*   --background: #141b1e; */
/*   --lighter-background: #232a2d; */
/*   --red: #e57474; */
/*   --green: #8ccf7e; */
/*   --yellow: #e5c76b; */
/*   --blue: #67b0e8; */
/*   --magenta: #c47fd5; */
/*   --cyan: #6cbfbf; */
/*   --light-gray: #b3b9b8; */
/*   --foreground: #dadada; */
/*   --columns: 3; */
/*   --font-name: monospace; */
/*   --font-size: 1.4rem; */
/*   --card-shadow: var(--green) */
/*   --radius: 0px; */
/* } */

:root {
  --background: #242424;
  --lighter-background: #383838;
  --red: #c01c28;
  --green: #3a944a;
  --yellow: #f6d32d;
  --blue: #3584e4;
  --magenta: #9141ac;
  --cyan: #2190a4;
  --light-gray: #6f8396;
  --foreground: #ffffff;
  --columns: 3;
  --font-name: monospace;
  --font-size: 1.4rem;
  --radius: 12px;
  --card-shadow: rgb(0 0 0 / 36%);
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 100dvh;
  width: 100dvw;
  background-color: var(--background);
  color: var(--foreground);
  font-family: var(--font-name);
  font-size: var(--font-size);
  position: relative;
}

aside {
  display: block;
  margin-bottom: 2rem;
}

form {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  width: 100%;
}

input {
  display: block;
  outline: none;
  padding: 0.525rem;
  text-align: center;
  transition: border-color 280ms ease;
  background-color: var(--lighter-background);
  border-radius: var(--radius);
}

input[type="search"] {
  border: 2px solid transparent;
  outline: none;
  &:is(:hover, :focus-within, :focus-visible, :focus, :active) {
    border: 2px solid var(--blue);
  }
}

input[type="submit"] {
  border: 2px solid transparent;
  padding: 0.725rem;
  &:is(:hover, :focus-within, :focus-visible, :focus, :active) {
    border: 2px solid var(--yellow);
  }
}

nav {
  display: grid;
  grid-template-columns: repeat(var(--columns), 1fr);
  justify-items: center;
  align-items: center;
  gap: 20px;
  padding: 1rem;
  min-height: 50%;
}

ul {
  display: block;
  background-color: var(--lighter-background);
  height: 100%;
  width: 100%;
  box-shadow: 6px 6px 0px var(--card-shadow);
  border-radius: var(--radius);

  li {
    margin: 0.8rem;
  }
}

a {
  display: block;

  &:is(:hover, :focus-within, :focus-visible, :focus) {
    transition:
      color 400ms cubic-bezier(0.19, 1, 0.22, 1),
      text-decoration 150ms ease-in,
      scale 200ms;

    color: var(--blue);
    text-decoration: underline;
    scale: 1.0735;
  }
}

kbd {
  font-weight: bold;
  color: var(--foreground);
  background: var(--lighter-background);
  padding: 0.5rem;
  border-radius: var(--radius);
}

dialog[open] {
  display: flex;
  align-items: start;
  justify-content: space-between;
  flex-direction: column;
  width: 30%;
  height: 30%;
  box-shadow: 0px 0px 2px 2px RGB(0 0 0 / 36%);
  background: var(--background);
  color: var(--foreground);
  border-radius: var(--radius);
  &::backdrop {
    backdrop-filter: blur(10px);
  }

  h3 {
    align-self: center;
    font-weight: bold;
  }

  button {
    color: var(--foreground);
    background: var(--lighter-background);
    padding: 0.5rem;
    border-radius: var(--radius);
    align-self: center;
    outline: none;
    border: 1px solid transparent;
    transition: border-color 400ms ease-in-out;
    &:is(:focus-within, :focus-visible, :active, :hover) {
      border: 1px solid var(--red);
    }
  }
}

div {
  position: fixed;
  top: 97%;
  left: 72%;
}
